<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"></link>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}} to display weather using mapbox and darksky.net</p>
            <img class="portrait" src="/img/robot.png"><img>
        </div>
        {{>footer}}
    </body>
</html>
