<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css"></link>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{message}}
        </div>
        {{>footer}}
    </body>
</html>